
education/__pycache__/settings.cpython-38.pyc
education/__pycache__/settings.cpython-38.pyc
flashcards/.DS_Store
flashcards/__pycache__/models.cpython-38.pyc
flashcards/__pycache__/urls.cpython-38.pyc
flashcards/__pycache__/views.cpython-38.pyc
flashcards/__pycache__/models.cpython-38.pyc
flashcards/__pycache__/urls.cpython-38.pyc
flashcards/__pycache__/views.cpython-38.pyc
