{% extends "layout.html" %}




{% block title %}Typing Speed Test{% endblock %}




{% block body %}

<Div>Test your typing speed</Div>
<div id = words_whole>
<label for="words">words per minute:</label>
<span id = "words">0</span>
</div>
<div id = characters_whole>
<label for="characters">characters:</label>
<span id = "characters">0</span>
</div>
<div id = errors_whole>
<label for="errors">errors:</label>
<span id = "errors">0</span>
</div>
<div id="whole_timer">
<label for="timer">Timer:</label>
<span id="timer">60</span>
</div>
<div id = "buttons">
<button id ="goagain" onclick = "goAgain()">Go Again </button>
<button id = "start" onclick = "timer()">start</button>
</div>
<div id="container">
{% for i,j in list  %}
    <span id= "{{i}}" class>{{j}}</span>
{% endfor %}
</div>
<form>
	<input type="text" id="input_word" name="input_word">
</form>

{% endblock %}


{% block javascript %}
<script>
var myVar;
var current = 0;
var timeOut;
var char = 0;
var input = $("#input_word").val();

var string = "{{string}}";
    string = string.split(" ");
var stringArray = new Array();
for(var i =0; i < string.length; i++){
    stringArray.push(string[i]);
    if(i != string.length-1){
        continue;
    }
}

var length = stringArray.length;


function make_spans(array) {
	console.log("make_spans\n#############\n",array);
	$('#container').empty();
	console.log("in the make_spans function!");
	console.log(array.length);
	for(var i = 0; i < array.length; i++){
		console.log('<span id = \"' + i + '\"  class \">'+array[i] + " "+'</span>');
		$('#container').append('<span id = \"' + i + '  class = \"\">'+array[i] + " "+'</span>');
	}
}
function init(){
	$("#errors_whole").css("display", "none");
	$("#characters_whole").css("display", "none");
	$("#words_whole").css("display", "none");
	$("#errors").html("0");
	$("#timer").html("60");
	$("#goagain").css("display", "none");
	$("#start").css("display", "block")
	$("#input_word").val(" ");
}

function goAgain() {
	$("#errors_whole").css("display", "none");
	$("#characters_whole").css("display", "none");
	$("#words_whole").css("display", "none");
	$("#errors").html("0");
	$("#timer").html("60");
	$("#goagain").css("display", "none");
	$("#start").css("display", "block");
	$("#input_word").css("display", "block");
	current = 0;
	clearTimeout(myVar);
}
function error() {
	 var error_name = $("#errors").html();
	 error_name = Number(error_name) + 1;
	 $("#errors").html(error_name);
}

function time() {
	if($("#timer").html() == 0){
		$("#timer").html("0");
		clearTimeout(myVar);
		$("#errors_whole").css("display", "block");
		$("#characters_whole").css("display", "block");
		$("#words_whole").css("display", "block");
		$("#goagain").css("display", "block");
		$("#start").css("display", "none");
		$("#input_word").css("display", "none");
		current = 0;
		} else {
	 var timer_name = $("#timer").html();
	 timer_name = Number(timer_name) - 1;
	 $("#timer").html(timer_name);
	 }
}
function timer() { 
		myVar = window.setInterval(time,1);
		if($("#timer").html == 0){
			clearTimeout(myVar);
			$("#errors_whole").css("display", "block");
			$("#characters_whole").css("display", "block");
			$("#words_whole").css("display", "block");
		}
}


function nextword(){
	if(current >= length -1){
		$.ajax({
			type: "GET",
			url: "/getstring",
			dataType: "json",
			success: function (msg, status) {
				
				
				
				
			if (msg) {
				//alert(msg.strArr);
				make_spans(msg.strArr);
				current = 0;
				length = msg.strArr.length;
				console.log("Done");
	           } else {
				console.log("Cannot add to Post !");
	           }
	       },
		});
	}else{
		current ++;
	}
}

$(document).ready(function () {
	init();
   $(document).keydown(function(e){
		const keyvalue = e.keyCode;
		switch (keyvalue) {
				case 32: case 13: // space, Enter
				if (document.getElementById("input_word").value == " " +  stringArray[current]){
					console.log(stringArray[current]);
					console.log(document.getElementById("input_word").value);
					$("#input_word").val('');
					$("#"+current).addClass('correct');
					console.log($("#"+current));
					nextword();
					
					
				}else{
				$("#input_word").val('');
				$("#"+ current).addClass('wrong');
				console.log(stringArray[current]);
				nextword();	
				error();
				}
			break;
		}
		
		
   });

   
});

</script>
{% endblock %}