{% extends "layout.html" %}




{% block title %}Typing Speed Test{% endblock %}




{% block body %}

<Div>Test your typing speed</Div>
<div id = words_whole>
<label for="words">words per minute:</label>
<span id = "words">0</span>
</div>
<div id = characters_whole>
<label for="characters">characters:</label>
<span id = "characters">0</span>
</div>
<div id = errors_whole>
<label for="errors">errors:</label>
<span id = "errors">0</span>
</div>
<div id="whole_timer">
<label for="timer">Timer:</label>
<span id="timer">60</span>
</div>
<button onclick = "goAgain()">Go Again </button>
<button onclick = "error()">errors</button>
<button onclick = "timer()">start</button>
<div id="container">
</div>
<form>
	<input type="text" id="input_word" name="intput_word">
</form>

{% endblock %}


{% block javascript %}
<script>
var myVar;
var current = 0;
var timeOut;
var char = 0;

var string = "Hello this is Sumin Choy";
    string = string.split(" ");
var stringArray = new Array();
for(var i =0; i < string.length; i++){
    stringArray.push(string[i]);
    if(i != string.length-1){
        continue;
    }
}

for(var i = 0; i < stringArray.length; i++){
	console.log(stringArray[i])
	$('#container').append('<span>'+stringArray[i]+'</span>');
}
function goAgain() {
	var errors = document.getElementById("errors_whole");
	errors.style.display = errors.style.display === 'none' ? '' : 'none';
	var character = document.getElementById("characters_whole");
	character.style.display = character.style.display === 'none' ? '' : 'none';
	var words = document.getElementById("words_whole");
	words.style.display = words.style.display === 'none' ? '' : 'none';
	document.getElementById("errors").innerHTML = 0;
	document.getElementById("timer").innerHTML = 60;
	clearTimeout(myVar);
}
function error() {
	 var error_name = document.getElementById("errors").innerHTML;
	 error_name = Number(error_name) + 1;
	 document.getElementById("errors").innerHTML = error_name;
}

function time() {
	if(document.getElementById("timer").innerHTML == 0){
		document.getElementById("timer").innerHTML = 0;
	} else {
	 var timer_name = document.getElementById("timer").innerHTML;
	 timer_name = Number(timer_name) - 1;
	 document.getElementById("timer").innerHTML = timer_name;
	 }
}
function timer() { 
		myVar = window.setInterval(time,1000)
		if(document.getElementById("timer").innerHTML == 0){
			clearTimeout(myVar)
		}
}

function setcurrent(){
	$('')
}

function nextword(){
	current++;
	if (current >= length) {
		alert("you have reached the end of the typing test.")
	}else{
	setcurrent(current);
	}
}
$(document).ready(function () {
	
	
   $(document).keydown(function(e){
		const keyvalue = e.keyCode;
		console.log("keyvalue:" + keyvalue);
		switch (keyvalue) {
				case 37: // left
				moveprev();
			break;
		  	case 39: // right
				movenext();
		  	break;
			case 38: // up
			case 40: // down 
				$("#scard").toggleClass("flipped");
		    break;
		  	default:
		    console.log(`Sorry, we are out of ${expr}.`);
		}
		
		
   });

   
});
</script>
{% endblock %}