{% extends "auctions/layout.html" %}
{% block body %}
    <h2>ACTIVE LISTINGS</h2>
    
    {% if items %}
    	<div class="">
    		{% for item in items%}
    		<a href="{% url 'viewitem' item.id %}" class="btn" style="height:300px; width:100%; border-color: black; margin: 10px; color: black; " >
    		
    		<div> {# for image  #}
    		{%if item.imageurl %}
    		<img src="{{item.imageurl}}" class="rounded float-left" style = "max-height: 230px; max-width: 230px; width: expression(document.body.clientWidth > 150? “150px”: “auto”); height: expression(document.body.clientHeight > 100? “100px”: “auto”);">
    		{% else %}
    		<img src="https://p7cdn4static.sharpschool.com/UserFiles/Servers/Server_1271683/Image/Meet%20the%20Candidates/No-Photo-Provided.png" class="rounded float-left" style = "max-height: 230px; max-width: 230px; width: expression(document.body.clientWidth > 150? “150px”: “auto”); height: expression(document.body.clientHeight > 100? “100px”: “auto”);">
    		{% endif %}
    		</div>
    		<div class="float-left">
    			<div>{{item.title}}</div>
    			<div>{{item.description}}</div>
    			<div>${{item.currentbid}}</div>
    		
    		</div>
    		</a>
    		{% endfor %}
    	</div>
    {% else %}
    	
    {% endif %}
   
{% endblock %}



