{% extends "flashcards/layout.html" %}

{% block body %}

    <div>
    	{% if totalcategory  %}
    		<h2 class="card-title h2">Categories</h2>
    		 <ul class="list-group">
                {% for category in categories %}
                    <a href="{% url 'category' category.id %}"><li class="list-group-card"><i class="fas fa-tshirt mr-5"></i> {{category.category}}</li></a>
                {% endfor %}
             </ul>
        {% else %}
    		<h2 class="card-title h2">Category: {{category}}</h2>
    		<select class="browser-default custom-select" onchange="location = this.value;">
    			<option selected>Select Other Category</option>
    			{% for category in categories %}
    				<option  value="{% url 'category' category.id %}">{{category.category}}</option>
  				{% endfor %}
  			</select>
  			
  			{% if cards  %}
				{% for card in cards %}
	            	<div class="float-left">
	               	<strong>{{card.title}}</strong>
	               	<div>{{card.meaning}}</div>
	              	</div>
	               	</a>
	           	</div>
	            {% endfor %}
	           {% else %}
	           <div> No card found </div>
	           {% endif %}
    		
    	 {% endif %}
    </div>
    	
{% endblock %}