{% extends "flashcards/layout.html" %}

{% block body %}
	<div>
    	{% if totalcategory  %}
    		<h2 class="card-title h2">Sets</h2>
    		 <ul class="list-group">
                {% for category in categories %}
					<div style="background-color:white; margin:10px;border-color:black;">
                    	<a href="{% url 'category' category.id %}">
                    	<li class="list-group-card"><i class="fas fa-tshirt mr-5"></i> {{category.category}}</li>
						{% if category.imageurl %}
    					<img src="{{category.imageurl}}" class="rounded" style = " text-align:center;max-height: 250px; max-width: 250px;">
    					{% else %}
    					<img src="https://p7cdn4static.sharpschool.com/UserFiles/Servers/Server_1271683/Image/Meet%20the%20Candidates/No-Photo-Provided.png" class="rounded" style = " text-align:center;max-height: 250px; max-width: 250px;"">
    					{% 	endif %}
    					</a>
    				</div>
					
                {% endfor %}
             </ul>	
        {% else %}
    		<h2 class="card-title h2">Set: {{category}}</h2>
    		<select class="browser-default custom-select" onchange="location = this.value;">
    			<option selected>Select Other Set</option>
    			{% for category in categories %}
    				<option  value="{% url 'category' category.id %}">{{category.category}}</option>
  				{% endfor %}
  			</select>
	
			{% if cards  %}
			 	<div class="flipCard"> 
  						<div id = "scard" class="scard" onclick="this.classList.toggle('flipped');"> 
    						<div id="title" class="side front"></div> 
    						<div id="define" class="side back"></div>
 						 </div> 
				</div>
				<div>
					<center> 
					<button type="button" id ="prev" class="btn btn-primary">Prev</button>
					<button type="button" id="next" class="btn btn-primary">Next</button>
					<button type="button" id="flip" class="btn btn-primary" >Flip</button>
					</center> 
				</div>
			{% else %}
	           <div> No card found </div>
	        {% endif %}
    		
    	 {% endif %}
    </div>
   
    	
{% endblock %}

{% block javascript %}

<script>
const cards =  {{ jsonc | safe }};
console.log(cards);
const length = cards.length;
var current = 0;

function moveprev() {
	current--;
	if (current < 0) {
		alert(" This is the first card ");
		current = 0;
		
	}  
	$('#title').html(cards[current].fields.title);
	$('#define').html(cards[current].fields.meaning);
	$('#scard').removeClass("flipped");
}

function movenext() {
	current++;
	if (current >= length) {
		alert(" The last card \n Moving to the first card ")
		current = 0;
	}  
	$('#title').html(cards[current].fields.title);
	$('#define').html(cards[current].fields.meaning);
	$('#scard').removeClass("flipped");
	
}


$(document).ready(function () {
		if(length > 0) {
			$('#title').html(cards[current].fields.title);
			$('#define').html(cards[current].fields.meaning);
			
		}
		
		$("#flip").click(function(){
			$("#scard").toggleClass("flipped");
		});
		
		$("#prev").click(function(){
			moveprev();
		});
		$("#next").click(function(){
			movenext();
		});
		
	   $(document).keydown(function(e){
			const keyvalue = e.keyCode;
			console.log("keyvalue:" + keyvalue);
			switch (keyvalue) {
  				case 37: // left
					moveprev();
				break;
			  	case 39: // right
					movenext();
			  	break;
				case 38: // up
				case 40: // down 
					$("#scard").toggleClass("flipped");
			    break;
			  	default:
			    console.log(`Sorry, we are out of ${expr}.`);
			}
			
			
	   });

       
});



</script>
{% endblock %}