{% extends "flashcards/layout.html" %}
{% block body %}
    <h2>ACTIVE LISTINGS</h2>
    
    {% if cards %}
    	<div class="">
    		{% for card in cards%}
    		<a href="{% url 'viewcard' card.id %}" class="btn" style="height:300px; width:100%; border-color: black; margin: 10px; color: black; " >
    		
    		<div class="float-left">
    			<div>{{card.title}}</div>
    			<div>{{card.meaning}}</div>
    		</div>
    		</a>
    		{% endfor %}
    	</div>
    {% else %}
    	
    {% endif %}
   
{% endblock %}



