{% extends "flashcards/layout.html" %}
{% block body %}
    <h2>All Flash Cards</h2>
    
    {% if cards %}
    	<div class="">
    		{% for card in cards%}
    		<a href="{% url 'viewcard' card.id %}" class="btn" style="max-height:200px; width:95%; border-color: black; margin: 10px; color: black; " >
    		
    		<div class="float-left">
    			<div>Terms: {{card.title}}</div>
    			<div>Definition: {{card.meaning}}</div>
    			
    		</div>
    		</a>
    		{% endfor %}
    	</div>
    {% else %}
    	
    {% endif %}
   
{% endblock %}



