{% extends "flashcards/layout.html" %}

{% load static %}
{% block css %}

.favorite {
	width: 40px;
	height: 40px;
	border: 0 none;
	cursor: pointer;
	outline: none;
	background: url("{% static 'flashcards/img/favorite.png' %}") no-repeat 80px 120px

    
}

.unfavorite {
	background: url("{% static 'flashcards/img/favorite.png' %}") no-repeat 0px 0px
}


{% endblock %}

{% block body %}
    {% if card %}
    	<div class="">
    		<div>
    		
    			<h1>Term: {{card.title}}</h1>
    			<h1>Definition: {{card.meaning}}</h1>
    			
    		</div>
    		{% if user.is_authenticated %}
    		<a href="{% url 'addwatchcard' card.id %}" style="margin:10px">
    			{% if watching %}
					<div class="unfavorite"></div>
				{% else %}	
					<div class="favorite" ></div>
				{% endif %}
			</a>
			{% endif %}
	  <h2>Details</h2>
	  
	  
      <li>Set:{{card.category}}</li>
        	{% for comment in comments %}
        		<div class="row">
        			<div class="col-sm-2">{{comment.createdate|date:'Y-m-d H:i'}}</div>
        			<div class="col-sm-1">{{comment.commentuser}}</div>
            		<div class="col-sm-9">{{comment.comment}}
            		{% if user.username == comment.commentuser %}
            			<a href="{% url 'deletecomment' comment.id %}">X</a>
            		{% endif %}
            		
            		</div>
          		</div>
          	{% endfor %}
          	{% if user.is_authenticated %}
	          	<form action="{% url 'writecomment' card.id %}" method="POST">
		           		{% csrf_token %}
		           		<div class="row">
		            		<div class="col-sm-2">comment: </div>
		           			<div class="col-sm-4"><textarea class="form-control" rows="10" name="comment"></textarea></div>
		          		</div>
		            	<p align="justify"><input class="btn btn-primary" type="submit" value="comment"></p>
		        </form>
		        
        	{% endif %}
    	</div>
	{% else %}
    
	<h2>LISTING:No item</h2>
    <br>
    <h3>No item found</h3>
    	
    	
    	
       
    {% endif %}
   
{% endblock %}


{% block javascript %}

	
{% endblock %}