{% extends "flashcards/layout.html" %}

{% load static %}
{% block css %}

.favorite {
	left: 0px;
	top: 250px;
    position: absolute;
    clip: rect(0px,44px,44px,0px);
}

.unfavorite {
	left: -44px;
	top: 250px;
    position: absolute;
    clip: rect(0px,88px,44px,44px);
}


{% endblock %}

{% block body %}
    {% if card %}
    	<h2>Card:{{card.category}}</h2>
    	<div class="">
    		<div>
    			<div>{{card.title}}</div>
    			<h1>${{card.meaning}}</h1>
    		</div>
    		
    		{% if user.is_authenticated %}
    		<a href="{% url 'addwatchlist' item.id %}">
    			{% if watching %}
					<img src="{% static 'flashcards/img/favorite.png' %}" class="unfavorite" />
				{% else %}	
					<img src="{% static 'flashcards/img/favorite.png' %}" class="favorite" />
				{% endif %}
			</a>
			{% endif %}
			{% if bidmessage %} 
           		<div class="col-sm-2">{{bidmessage}}</div>
           		{% endif %}
			{% if user.is_authenticated and user.username != item.owner %}
			
           	<form action="{% url 'placebid' item.id %}" method="POST">
           		{% csrf_token %}
           		<div class="row">
           			<div class="col-sm-4"><input type="number" class="form-control" min="{{currentbid}}"  value="{{currentbid}}" name="currentbid" required></div>
          		</div>
            	<p align="justify"><input class="btn btn-primary" type="submit" value="Place bid"></p>
            </form>
        	{% endif %}
      <h2>Details</h2>
      <li>Listed by:{{item.owner}}</li>
      <li>Category:{{item.category}}</li>
        	{% for comment in comments %}
        		<div class="row">
        			<div class="col-sm-2">{{comment.createdate|date:'Y-m-d H:i'}}</div>
        			<div class="col-sm-1">{{comment.commentuser}}</div>
            		<div class="col-sm-9">{{comment.comment}}
            		{% if user.username == comment.commentuser %}
            			<a href="{% url 'deletecomment' comment.id %}">X</a>
            		{% endif %}
            		
            		</div>
          		</div>
          	{% endfor %}
          	{% if user.is_authenticated %}
	          	<form action="{% url 'writecomment' item.id %}" method="POST">
		           		{% csrf_token %}
		           		<div class="row">
		            		<div class="col-sm-2">comment: </div>
		           			<div class="col-sm-4"><textarea class="form-control" rows="10" name="comment"></textarea></div>
		          		</div>
		            	<p align="justify"><input class="btn btn-primary" type="submit" value="comment"></p>
		        </form>
		        
        	{% endif %}
    	</div>
	{% else %}
    
	<h2>LISTING:No item</h2>
    <br>
    <h3>No item found</h3>
    	
    	
    	
       
    {% endif %}
   
{% endblock %}


{% block javascript %}

	
{% endblock %}