{% extends "flashcards/layout.html" %}

{% block body %}

    <div>
    	<h2 class="card-title h2">Watchlist</h2>
    	{% for item in items %}
		<div>
			<a href="{% url 'viewitem' item.id %}" class="btn" style="width:100%; border-color:black; Margin:10px;">
			<img class="rounded float-left" src="{{item.imageurl}}" style=" max-height: 230px; max-width:230px;" >
			<div class="float-left">
			<div>Category: {{item.category}}</div>
		   	<strong>title: {{item.title}}</strong>
		   	<div>owner: {{item.owner}}</div>
		   	<div>Max bidder{{item.maxbider}}</div>
		  	<div>${{item.currentbid}}</div>
		  	</div>
		   	</a>
		</div>
        {% endfor %}
    </div>
    	
{% endblock %}