{% extends "flashcards/layout.html" %}

{% block body %}

    <div>
    	<h2 class="card-title h2">Watched Cards</h2>
    	<div class="slideshow-container">
    	{% for card in cards %}
		
			<a href="{% url 'viewcard' card.id %}" class="btn" style="width:95%; border-color:black; Margin:10px;">
			<div class="mySlides fade">
  			<div class="text">{{card.title}}</div>
			</a>
		   	
        {% endfor %}
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
 </div>   
    <script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
    	
{% endblock %}